# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
messenger-client/node_modules
messenger-client/.pnp
messenger-client/.pnp.js
messenger-server/node_modules
messenger-server/.pnp
messenger-server/.pnp.js

# testing
messenger-client/coverage

# production
messenger-client/build

# misc
messenger-server/.env
messenger-server/.DS_Store
messenger-server/.env.local
messenger-server/.env.development.local
messenger-server/.env.test.local
messenger-server/.env.production.local
messenger-client/.DS_Store
messenger-client/.env.local
messenger-client/.env.development.local
messenger-client/.env.test.local
messenger-client/.env.production.local
messenger-client/npm-debug.log*
messenger-client/yarn-debug.log*
messenger-client/yarn-error.log*
messenger-client/firebase-debug.log

# Logs
messenger-client/logs
messenger-client/*.log
messenger-client/npm-debug.log*
messenger-client/yarn-debug.log*
messenger-client/yarn-error.log*
messenger-client/firebase-debug.log*
messenger-client/firebase-debug.*.log*

# Firebase cache
messenger-client/.firebase/

# Firebase config

# Uncomment this if you'd like others to create their own Firebase project.
# For a team working on the same Firebase project(s), it is recommended to leave
# it commented so all members can deploy to the same project(s) in .firebaserc.
# .firebaserc

# Runtime data
messenger-client/pids
messenger-client/*.pid
messenger-client/*.seed
messenger-client/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
messenger-client/lib-cov

# Coverage directory used by tools like istanbul
messenger-client/coverage

# nyc test coverage
messenger-client/.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
messenger-client/.grunt

# Bower dependency directory (https://bower.io/)
messenger-client/bower_components

# node-waf configuration
messenger-client/.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
messenger-client/build/Release

# Dependency directories
messenger-client/node_modules/

# Optional npm cache directory
messenger-client/.npm

# Optional eslint cache
messenger-client/.eslintcache

# Optional REPL history
messenger-client/.node_repl_history

# Output of 'npm pack'
messenger-client/*.tgz

# Yarn Integrity file
messenger-client/.yarn-integrity

# dotenv environment variables file
messenger-client/.env
messenger-client/.firebaserc
messenger-client/firebase.json

.vscode